# Dependencies (Massive files, no need to push)
node_modules/

# Secrets & Local credentials (Crucial to ignore)
.env
.env.local

# Compiled Output (Generated code)
dist/

# Logs & temp files
*.log
npm-debug.log*
.DS_Store